<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zavod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Zavod.Properties.Settings.ZavodConnectionString" connectionString="Data Source=LAPTOPVALAVIN-K\SQLEXPRESS;Initial Catalog=Zavod;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Zavod.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notify" serializeAs="String">
                <value />
            </setting>
            <setting name="succes" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="mondayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="tuesdayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="wednesdayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="thursdayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="fridayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="saturdayUp" serializeAs="String">
                <value />
            </setting>
            <setting name="mondayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="tuesdayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="wednesdayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="thursdayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="fridayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="saturdayDw" serializeAs="String">
                <value />
            </setting>
            <setting name="group" serializeAs="String">
                <value />
            </setting>
            <setting name="admin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="famil" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="grop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start" serializeAs="String">
                <value>False</value>
            </setting>
        </Zavod.Properties.Settings>
    </userSettings>
</configuration>